
<div class="content">
  <div class="convertor">
    <div class="first Currency">
      <label for="firstCurrencyInput">Продаж</label>
      <input-clearable-example [value]=uah.buy.toString() id="firstCurrencyInput" #firstCurrencyInput (input)="onChange(true)"></input-clearable-example>
      <app-select-overview id="firstCurrencySelect" #firstCurrencySelect [func]="onChange" ></app-select-overview>
    </div>

    <div class="second Currency">
      <label for="secondCurrencyInput">Купівля</label>
      <input-clearable-example [value]=usd.sell.toString() id="secondCurrencyInput"#secondCurrencyInput (input)="onChange(false)"></input-clearable-example>
      <app-select-overview id="secondCurrencySelect" #secondCurrencySelect [func]="onChange"></app-select-overview>
    </div>
  </div>
</div>


